@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Alata";
  letter-spacing: 3px;
}

.App {
  overflow-x: hidden;
}

.wlc-page {
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-image: url("img/desktop/image-hero.jpg");
  background-size: cover;
}

nav {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hamburger {
  display: none;
}

.navList {
  display: flex;
  list-style-type: none;
}

.navList li {
  font-size: 12px;
  cursor: pointer;
}

.small-line {
  margin: 10px auto 0;
  width: 20px;
  height: 1px;
  background-color: #fff;
  opacity: 0;
}

.navList li:hover .small-line {
  opacity: 1;
}

.navList li:not(:last-child) {
  margin-right: 30px;
}

.hero-tag_contain {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.header-tag {
  font-size: 38px;
  text-transform: uppercase;
  font-family: "Alata";
  line-height: 1.2;
  letter-spacing: 3px;
  max-width: 400px;
  padding: 30px;
  border: 1px solid #fff;
}

main {
  padding: 80px;
}

.card {
  position: relative;
}

.card-img {
  width: 50%;
}

.card-img img {
  width: 100%;
}

.card-textbox {
  background-color: #fff;
  padding-bottom: 10px;
  position: absolute;
  left: 38%;
  bottom: 0;
  padding-left: 60px;
}

.card-textbox .header-tag {
  letter-spacing: 5px;
}

.card-textbox p {
  margin-top: 30px;
  line-height: 1.6;
  font-family: "Alata";

  color: rgb(139, 139, 139);
}

.dashboard {
  margin-top: 60px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashbaord-header-btn {
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
}

.dashbaord-header-btn:hover {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}

.dashboard-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.dashboard-item-img {
  position: relative;
}

.dashboard-item-img::after {
  content: attr(data-content);
  max-width: 150px;
  position: absolute;
  top: 80%;
  left: 30%;
  color: #fff;
  font-family: "Alata";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(240, 248, 255, 0.8);
}

.dashboard-item-img img {
  max-width: 100%;
}

.img-mobile {
  display: none;
}

footer {
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  gap: 50px;
}

footer nav {
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

footer .navList li:not(:last-child) {
  margin-right: 10px;
}

.social {
  min-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-icons {
  display: flex;
}

.icon {
  display: grid;
  place-items: center;
}

.icon {
  margin-right: 10px;
}

.icon .small-line {
  margin-top: 3px;
}

.icon:hover .small-line {
  opacity: 1;
}

.footer-tag {
  justify-self: flex-end;
  font-size: 12px;
  color: rgb(240, 248, 255, 0.8);
}

@media screen and (max-width: 1160px) {
  .card {
    position: static;
    display: flex;
  }

  .card-img {
    width: 50%;
  }

  .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-textbox {
    width: 50%;
    position: static;
    padding: 0;
  }

  .card-textbox p {
    margin: 0;
    margin-left: 30px;
  }
}

@media screen and (max-width: 993px) {
  .card {
    position: static;
    display: block;
  }

  .card-img {
    width: 100%;
  }

  .card-textbox {
    width: 100%;
    position: static;
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .bgBlack {
    background-color: #000;
    background-image: none;
  }

  .none {
    display: none;
  }

  .navList {
    display: none;
  }

  .open-nav {
    height: 100%;
  }

  .open-navList {
    width: 100%;
    height: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .hero-tag_contain {
    max-width: 250px;
  }

  .card-textbox {
    padding: 0;
  }

  .card-textbox .header-tag {
    font-size: 28px;
    text-transform: uppercase;
    font-family: "Alata";
    padding: 0;
    padding-top: 30px;
    letter-spacing: 1.2px;
  }

  .no-padding {
    padding: 0;
    font-size: 28px;
  }

  .dashboard-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 10px;
  }

  .dashbaord-header-btn {
    align-self: flex-start;
    padding: 5px;
  }

  .dashbaord-header-btn p {
    font-size: 8px;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .dashboard-item-img::after {
    top: 60%;
    left: 30%;
  }

  footer {
    flex-direction: column;
    gap: 20px;
  }

  footer nav {
    align-items: center;
  }

  footer .hamburger {
    display: none;
  }

  footer .navList {
    display: block;
  }

  .social {
    align-items: center;
  }
}

@media screen and (max-width: 300px) {
  .hero-tag_contain {
    max-width: 200px;
    padding: 10px;
  }

  .header-tag {
    font-size: 26px;
  }
}
